table 
{
	margin-top: 2%;
	max-width:900px;
	min-width:900px;
}
table td
{
	border: solid #2471a3 2px;
	padding: 5px;
	color: #283747;
	font-family: arial;
	
}
.bold
{
	font-weight: bolder;
	color: #7b241c;
}